/* Show it is fixed to the top */
body {
  min-height: 75rem;
  /*padding-top: 5rem;*/
}
.container-fluid {
	padding: 0;
}
.bigButton {
	min-width: 150px;
	min-height: 150px;
	text-align: center;
}
.bigButtonLink{
	width:100%;
}
.navbar-dark .navbar-brand {
	color: #0ff;
	font-weight: bold;
	font-size:20pt;
}
/*.navbar-dark .navbar-brand::after {	
content:'\1F4A7';
}*/
.navbar-dark .navbar-nav .nav-link {
	color: #0cf;
}
.navbar-dark .navbar-nav .active > .nav-link{
	color: #08f;
}
th img, td img {
	width: 32px;
}

