{% extends "base.html" %}
{% block content %}
<section class="container">
    <div class="col-md-10 mx-auto">
        <table class="table table-sm m-0">
        <thead class="table-dark">
           <tr>
            <th scope="col" rowspan="2">Название</th>
            <th scope="col" rowspan="2">Описание</th>
            <th scope="col" rowspan="2">Откуда</th>
            <th scope="col" rowspan="2">Куда</th>
            <th scope="col" rowspan="2">Цена</th>
            <th scope="col" rowspan="2">Дата</th>
            <th scope="col" rowspan="2">Действия</th>
           </tr>
        </thead>
        <tbody>
        {% for task in tasks%}
        <tr class="table-success">
                <th scope="row">{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.address_from }}</td>
                <td>{{ task.address_to }}</td>
                <td>{{ task.price }}</td>
                <td>{{ task.timestamp }}</td>
                <td>
                    <a href="{{ url_for('acceptTask', taskId=task.id) }}"><button type="button" class="btn btn-outline-dark btn-sm">Стать исполнителем!</button></a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}